@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

.App {
  font-family: "Noto Sans KR", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none; /* IE and 엣지 */
  scrollbar-width: none; /* 파이어폭스 */
}

.custom-border {
  box-shadow: inset 4px 4px 4px 2px rgba(255, 255, 255, 0.9),
    7px 7px 10px 0px rgba(0, 0, 0, 0.05), 4px 4px 5px 0px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgba(164, 221, 247, 0.534) 100%
  );
}

.custom-border2 {
  box-shadow: inset 4px 4px 4px 2px rgba(255, 255, 255, 0.9),
    7px 7px 10px 0px rgba(0, 0, 0, 0.05), 4px 4px 5px 0px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgba(192, 192, 192, 0.534) 100%
  );
}
@media screen and (max-width: 1240px) {
  .cover {
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 9999;
    position: fixed;
    display: block;
  }
}
