.react-calendar {
  background-color: #fff;
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  color: #4094bf;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

/* 요일 밑의 밑줄 지우기 */
abbr[title] {
  text-decoration: none;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  border-radius: 9999px;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  color: black;
  font-weight: bolder;
  transform: scale(1.2);
  background-color: #6f48eb33;
}

.react-calendar__tile--now {
  border: 1px;
  background: #6f48eb33;
  font-weight: bolder;
  color: #4094bf;
  border-radius: 9999px;
}

.react-calendar__tile--active {
  border: 1px;
  font-weight: bolder;
  border-radius: 9999px;
  background-color: #6f48eb33;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  border: 1px;
  border-color: #6f48eb33;
}
.highlight {
  image-rendering: crisp-edges;
  backface-visibility: hidden;
  transform: translateZ(0);

  background-image: url("../../../public/images/calendarIcon/evaluate.png");
  max-width: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  background-position: center;
  color: transparent;
}
.shield {
  image-rendering: crisp-edges;
  backface-visibility: hidden;
  transform: translateZ(0);

  background-image: url("../../../public/images/calendarIcon/shield.png");
  max-width: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  background-position: center;
  color: transparent;
}

.highlight-sunday {
  color: red;
}
.highlight-saturday {
  color: blue;
}
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}
